# comment this out, if you don't want it to rewrite existing torch env
--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
omegaconf
torchmetrics
fvcore
iopath
xformers # ==0.0.29
submitit
--extra-index-url https://pypi.nvidia.com
cuml-cu11
einops
wandb
timm
# swanlab # optional experiments tracking tool if wandb doesn't work